<div class="col-md-12">

  <div class="col-8 offset-2">

    <div class="card mt-4">

      <div class="card-body">

        {{!-- <h5 class="card-title">Word</h5> --}}
        {{!-- <p><strong>ID</strong>: {{word.id}}</p> --}}

        <p><strong>Word</strong>: {{word.text}}</p>

        <p><strong>Definition:</strong> {{word.definition}}</p>

        <p><strong>Etymology:</strong> {{word.etymology}}</p>
        
        <p><strong>Pronunciation:</strong></p>

        <audio controls>
          <source src={{word.pronunciation}}>
        </audio>

        {{!-- <p><strong>User Comment:</strong> {{word.comment}}</p> --}}


        <p><strong>User Comment:</strong> {{word.comment}}</p>
      </div>

      {{!-- <div class="card-body">

        {{!-- <h5 class="card-title">Word</h5> --}}
        {{!-- <p><strong>ID</strong>: {{word.id}}</p> --}}

        {{!-- <p><strong>Word</strong>: {{word.text}}</p>
        <p><strong>Definition:</strong> {{word.definition}}</p>
        <p><strong>Etymology:</strong> {{word.etymology}}</p>
        <p><strong>Pronunciation:</strong></p>
        <audio controls>
          <source src={{word.pronunciation}}>
        </audio> --}}
        {{!-- <p><strong>User Comment:</strong> {{word.comment}}</p> --}}

      {{!-- </div> --}}

      {{!-- <div class="card-body">
        <p><strong>User Comment:</strong> {{word.comment}}</p>
      </div> --}}

    </div>
    
    <br>
    <a href="/" class="btn btn-outline-light">Back To Home Page</a>

  </div>

</div>
